body {
	background-color: black;
}

.main {
	height: 31.25em;
	background-color: white;
	min-width: 75em;
	margin-top: 6.875em;
	padding-left: 6.25em;
	position: relative;
	z-index: 1;
}

.ryu {
	float: left;
  width: 659px;
  height: 494px;	
  overflow: hidden;
}

.ryu-cool,
.ryu-still,
.ryu-ready,
.ryu-throwing {
  width: 659px;
  height: 494px;
}

.ryu-cool,
.ryu-ready,
.ryu-throwing {
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	display: none;
	width: 9.75em;
	height: 5.625em;
	float: left;
	position: absolute;
	top: 170px;
	left: 550px;
	z-index: 10;
}

.street-fighter .logo {
	display: none;
	width: 512px;
	height: 320px;
	float: right;
	position: absolute;
	top: 100px;
	left: 700px;
}

.intro h1 {
	display: none;
	font-size: 4em;
	font-family: 'Special Elite', cursive;
	color: red;
	float: right;
	position: absolute;
	top: 180px;
	left: 700px;	
}

.jquery .logo {
	display: none;
	width: 500px;
	height: 300px;
	float: right;
	position: absolute;
	top: 100px;
	left: 700px;	
}

.directions {
	display: none;
	position: absolute;
	float: right;
	font-family: 'Special Elite', cursive;
	color: red;	
	top: 110px;
	left: 720px;		
}

.directions h1 {
	font-size: 3.5em;
}

.directions p {
	font-size: 1.5em;
}

.hadouken,
.ryu-still,
.ryu-ready,
.ryu-throwing,
.ryu-cool {
  background-repeat: no-repeat;
}